<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>

<meta name="Description" content="あなたのタスク管理をもっと簡単にします。シンプルなToDo管理サービスです。" />
<meta name="Keywords" content="task, ToDo, GTD, simple" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../../css/style.css" type="text/css" />

<title>Tasklet</title>

</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

		<!--header -->
		<div id="header">

			<h1 id="logo-text"><a href="index.html">Tasklet</a></h1>
			<p id="slogan">your ToDo, more easy!</p>

			<div id="header-links">
			<p>
				<a href="index.html">ホーム</a> |
				<a href="index.html">Contact</a> |
				<a href="index.html">Site Map</a>
			</p>
			</div>

		</div>

		<!-- menu -->
		<div  id="menu">
			<ul>
				<li id="current"><a href="index.html">ホーム</a></li>
				<li><a href="index.html">Menu1</a></li>
				<li><a href="index.html">Menu2</a></li>
				<li><a href="index.html">Menu3</a></li>
				<li><a href="index.html">Menu4</a></li>
				<li class="last"><a href="index.html">Menu5</a></li>
			</ul>
		</div>

		<!-- content-wrap starts here -->
		<div id="content-wrap">

			<div id="sidebar">

				<h3>ログイン</h3>
				<form action="#" class="searchform">
					<ul class="sidemenu">
						<li>ユーザーID</li>
						<li><input name="userid" class="textbox" type="text" /></li>
						<li>パスワード</li>
						<li><input name="password" class="textbox" type="password" /></li>
					</ul>
					<input name="search" class="button" value="ログイン" type="submit" />
				</form>

				<h3>新規登録</h3>
				<p>新規登録は<a href="#">こちら</a>から</p>


				<h3>Links</h3>
				<ul class="sidemenu">
					<li><a href="#">開発者ブログ</a></li>
					<li><a href="#">Twitter</a></li>
				</ul>

				<h3>Sponsors</h3>
				<ul class="sidemenu">
					<li>ここはGoogleAdSenseを設置</li>
				</ul>

				<h3>Etc</h3>
				<div class="left-box">
					<p>余白</p>

					<p class="align-right">右寄せ</p>
				</div>

			</div>

			<div id="main">

				<p>ここには紹介文、紹介の画像などを配置</p>
				<a name="TemplateInfo"></a>
				<h2>シンプルなタスク管理ツール</h2>

				<p>Taskletは，あなたのToDoをより簡単に管理するためのツールです。現在、以下のことができます。</p>

				<ul>
					<li>タスクの管理</li>
				</ul>

				<p>ログインは画面右のログインフォームからID・パスワードを入力してログインしてください。また、新規登録は右の新規登録リンクから。</p>

			</div>

		<!-- content-wrap ends here -->
		</div>

		<!--footer starts here-->
		<div id="footer">

			<p>
			&copy; 2009 <strong>yukung</strong> |
			Design by: <a href="http://www.styleshout.com/">styleshout</a> |
			Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>

   		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			<a href="index.html">ホーム</a>&nbsp;|&nbsp;
   		<a href="index.html">Sitemap</a>&nbsp;|&nbsp;
	   	<a href="index.html">RSS Feed</a>
   		</p>

		</div>

<!-- wrap ends here -->
</div>

</body>
</html>
